
require('./logging');

var ip = require('ip');
var myIp = ip.address();

//var target = '212.72.182.211';
var target = 'https://frdl.ws/frdlwebuserworkspace';

var config = {
 vhosts : {
	dir : __dirname + '/www/vhosts/',
	proxyfile : 'proxy.json',
	proxymodule : 'proxyhandler',
	docroot : 'httpdocs',
	default : {
		  port : process.env.port,
		  target : target
	}
 },
 proxy :  {
  http: {
    port: 8080,
    websockets: false
  },
  http2: {
    port: 80,
    websockets: false
  },
  https: {
    port: 443,
    websockets: false
  //  key: '/Users/tcoats/MetOcean/tugboat/harmony/metoceanview.com.key',
  //  cert: '/Users/tcoats/MetOcean/tugboat/harmony/metoceanview.com.crt'
  },
  proxy : {
	   xfwd: false,
           prependPath: false  // ,
       //    keepAlive: false
  }
 }
};

module.exports = config;
