
require('./logging');

var ip = require('ip');
var myIp = ip.address();

var target = '212.72.182.211';
if(myIp === target){
	target='212.72.182.212';
}


var fallbackPort = 80;

var config = {
 vhosts : {
	dir : __dirname + '/www/vhosts/',
	proxyfile : 'proxy.json',
	proxymodule : 'proxyhandler',
	docroot : 'httpdocs',
	default : {
		  port : fallbackPort,
		   target : target+':'+ fallbackPort.toString()
	    	//target : myIp +':'+ fallbackPort.toString()
	}
 },
 proxy :  {
  http: {
    port: 80,
    websockets: false
  },

  https: {
    port: 443//,
  //  key: '/Users/tcoats/MetOcean/tugboat/harmony/metoceanview.com.key',
  //  cert: '/Users/tcoats/MetOcean/tugboat/harmony/metoceanview.com.crt'
  },
  proxy : {
	   xfwd: true,
        prependPath: false  // ,
       //    keepAlive: false
  }
 }
};

module.exports = config;
